@page
@model RazorDemo.Pages.Users.AddModel
@{
    ViewData["Title"] = "Add User";
}

<h1>Add User</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="newRegister.FullName">Full Name</label>
        <input asp-for="newRegister.FullName" class="form-control" />
        <span asp-validation-for="newRegister.FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="newRegister.Address">Address</label>
        <input asp-for="newRegister.Address" class="form-control" />
        <span asp-validation-for="newRegister.Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="newRegister.Email">Email</label>
        <input asp-for="newRegister.Email" class="form-control" />
        <span asp-validation-for="newRegister.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="newRegister.Password">Password</label>
        <input asp-for="newRegister.Password" class="form-control" />
        <span asp-validation-for="newRegister.Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Page("Index")'">Cancel</button>
    @if (Model.newRegister != null && Model.newRegister.Id != 0)
    {
        <button type="submit" formaction="/Users/Add?handler=Update" class="btn btn-primary">Update</button>

        @if (User.IsInRole("Super Admin"))
        {
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal">Delete</button>
        }
    }
</form>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                @if (User.IsInRole("Super Admin"))
                {
                    <button type="submit" formaction="/Users/Add?handler=Delete" class="btn btn-danger">Delete</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
